[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
start = "env PYTHONPATH=src uvicorn app.main:app --reload"
test = "pytest"
